# Dependency Directories
node_modules/
jspm_packages/

# Build Outputs
dist/
dist-ssr/
*.local
out/
build/
*.tgz
bin/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.txt
!LICENSE
!README.md
!CONTRIBUTING.md

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
